<html>
    <body>
        <pe:mcml>
            <script type="text/npl" refresh="false">
                <![CDATA[
                    Utils = NPL.load("(gl)Mod/WorldShare/helper/Utils.lua")
                    Store = NPL.load("(gl)Mod/WorldShare/store/Store.lua")
                    KeepworkServiceSession = NPL.load("(gl)Mod/WorldShare/service/KeepworkService/Session.lua")
                    RegisterModal = NPL.load("./RegisterModal.lua")

                    page = document:GetPageCtrl()
                    Store:Set('page/RegisterModal', page)

                    KeepworkServiceSession:FetchCaptcha(function() page:Refresh(0.01) end)

                    function close()
                        page:CloseWindow()
                    end

                    function get_server_list()
                        return RegisterModal:GetServerList()
                    end

                    function is_english()
                        return Utils:IsEnglish()
                    end

                    function get_english_style(styleStr)
                        if is_english() then
                            return styleStr
                        else
                            return ''
                        end
                    end

                    function register()
                        RegisterModal:Register()
                    end

                    function get_captcha()
                        return KeepworkServiceSession:GetCaptcha()
                    end

                    function update_captcha()
                        KeepworkServiceSession:FetchCaptcha(function() page:Refresh(0.01) end)
                    end

                    local isClickedGetPhoneCaptcha = false

                    function get_phone_captcha()
                        if #page:GetValue("phone") ~= 11 then
                            GameLogic.AddBBS(nil, L"手机号码位数不对", 3000, "255 0 0")
                            return false
                        end

                        if isClickedGetPhoneCaptcha then
                           return false 
                        end

                        isClickedGetPhoneCaptcha = true

                        KeepworkServiceSession:GetPhoneCaptcha(page:GetValue("phone"))

                        local times = 60

                        local timer = commonlib.Timer:new({
                            callbackFunc = function(timer)
                                page:SetValue("getPhonecaptcha", format("%s(%ds)", L"重新发送", times))

                                if times == 0 then
                                    isClickedGetPhoneCaptcha = false
                                    page:SetValue("getPhonecaptcha", L"获取验证码")
                                    timer:Change(nil, nil)
                                end

                                times = times - 1
                            end
                        })

                        timer:Change(1000, 1000)
                    end
                ]]>
            </script>
            <style type="text/mcss">
                {
                    user_register = {
                        ["base-font-size"] = 16,
                        ["font-size"] = 16,
                        ["padding-right"] = 30,
                        ["padding-left"] = 30,
                        ["padding-top"] = 10,
                        ["padding-bottom"] = 20,
                        color = '#ffffff'
                        textcolor = '#ffffff'
                    },
                    text_field = {
                        background = "textures/worldshare_32bits.png;72 20 16 16:3 3 3 3",
                        border = "none",
                        width = 205
                    },
                    common_button = {
                        width = 130,
                        height = 33,
                        textcolor = "#000000",
                        color = "#000000",
                        ["font-size"] = 18
                    },
                }
            </style>
            <aries:window mode="thin" width="360" style="float:left;" title_height="40" close_height="25" title='<%=L"注册" %>' onclose="close()">
                <div name="register" class="user_register">
                    <div><%=L"填写基本注册信息"%></div>
                    <!-- <div style="margin-bottom:12px;">
                        <div style="<%='float:left;min-width:40px;' .. get_english_style('min-width:73px;') %>"><%= L"服务器："%></div>
                        <select name="registerServer" DataSource="<%= get_server_list()%>" style="height: 30px;width: 205px;" class="text_field"></select>
                    </div> -->
                    <div style="margin-bottom:12px;">
                        <div style="<%='float:left;min-width:65px;' .. get_english_style('min-width:73px;') %>"><%= L"账号：" %></div>
                        <input type="text" class="bbs_text text_field" EmptyText='<%= L"请输入账号" %>' style="height: 30px;" name="account" />
                    </div>
                    <div style="margin-bottom:12px;">
                        <div style="float:left;min-width:65px"><%= L"密码：" %></div>
                        <input type="text" class="bbs_text text_field" EmptyText='<%= L"请输入密码" %>' style="height: 30px;" name="password" />
                    </div>
                    <div style="margin-bottom:12px;">
                        <div style="float:left;min-width:65px"><%= L"验证码：" %></div>
                        <input type="text" class="bbs_text text_field" EmptyText='<%= L"请输入验证码" %>' style="height: 30px;width: 100px;" name="captcha" />
                        <img style="height: 30px;width: 60px;" src="<%= get_captcha() %>" onclick="update_captcha()"/>
                    </div>
                    <div><%=L"实名验证（推荐）"%></div>
                    <div style="margin-bottom:12px;">
                        <div style="float:left;min-width:65px"><%= L"手机号：" %></div>
                        <input type="text" class="bbs_text text_field" EmptyText='<%= L"请输入密码" %>' style="height: 30px;" name="phone" />
                    </div>
                    <div style="margin-bottom:12px;">
                        <div style="float:left;min-width:65px"><%= L"验证码：" %></div>
                        <input type="text" class="bbs_text text_field" EmptyText='<%= L"请输入验证码" %>' style="height: 30px;width: 100px;" name="phonecaptcha" />
                        <input
                            type="button"
                            name="getPhonecaptcha"
                            DefaultButton="true"
                            class="mc_light_grey_button_with_fillet"
                            style="margin-left:5px;width: 100px;height:30px;"
                            onclick="get_phone_captcha()"
                            disabled="disabled"
                            value='<%= L"获取验证码"%>'
                        />
                    </div>
                    <div style="margin-top: 5px;margin-bottom: 5px;">
                        <input type="checkbox" style="float:left;margin-top:3px;min-width:90px;" name="agree" onclick="set_remember_me()" checked="checked"/>
                        <div style="float:left"><a style="color: white;font-size: 12px;" href="https://keepwork.com"><%= L"我同意《Paracraft用户协议》中的内容" %></a></div>
                    </div>
                    <div>
                        <input type="button" DefaultButton="true" class="common_button mc_light_grey_button_with_fillet" onclick="close()" value='<%= L"取消"%>' />
                        <input type="button" DefaultButton="true" class="common_button mc_light_grey_button_with_fillet" style="margin-left: 10px;" onclick="register()" value='<%= L"注册"%>' />
                    </div>
                </div>
            </aries:window>
        </pe:mcml>
    </body>
</html>